.resultsBody{
    width:90%;
    height:auto;
    min-height:10vh;
    background-color:black;
    margin:auto;
    margin-top:5vh;
    color:white;
}

.resultsBody h1 {
    width:100%;
    text-align:center;
}
