

.buttonSave{
    color:white;
    background:black;
    padding:10px;
    border-radius:2px;
    }
    
    .buttonSave:hover{
    text-decoration-line:none;
    color:black;
    background:white;
    border:solid black 1px;
    }
    .text-center{
        font-weight:bold;
        color: rgb(154, 154, 207);
        text-shadow:rgb(1, 19, 1) 2px 6px;
    }