.buttonDelete{
    color:white;
    background:black;
    padding:10px;
    border-radius:2px;
}

.buttonDelete:hover{
    text-decoration-line:none;
    color:black;
    background:white;
    border:solid black 1px;
    }